<ul>
  <% @files.each do |file| %>
  <li>
    <a href="/<%= file %>"><%= file %></a>
    <a href="/<%= file %>/edit">Edit</a>
    <form action="/<%= file %>/delete" method="post" class="inline"><input type="submit" value="Delete"></form>
  </li>
  <% end %>
</ul>

<div>
  <a href="/new">Create a new document</a>
</div>

<% if session[:signed_in]%>
  <div>
    <em>Signed in as <%= session[:username] %></em>
    <form action="/signout" method="post" class="inline">
      <input type="submit" value="Sign Out">
    </form>
  </div>
<% else %>
  <div>
    <a href="/users/signin">Sign In</a>
  </div>
<% end %>